<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com/pmcc/soft/week/operationRecordMapper" >

    <resultMap id="OperationRecordMap" type="com.pmcc.soft.week.domain.OperationRecord">
        <id property="oid" column="OID" />
        <result property="operationType" column="OPERATION_TYPE"/>
        <result property="operationContent" column="OPERATION_CONTENT"/>
        <result property="taskOid" column="TASK_OID" />
        <result property="projectOid" column="PROJECT_OID" />
        <result property="operationTime" column="OPERATION_TIME" />
        <result property="operationPersonOid" column="OPERATION_PERSON_OID" />
        <result property="workHourOid" column="WORK_HOUR_OID" />
        <result property="operationPersonName" column="OPERATION_PERSON_NAME" />
    </resultMap>

    <sql id="sql_columns">
        OID,
        OPERATION_TYPE,
        OPERATION_CONTENT,
        TASK_OID,
        PROJECT_OID,
        OPERATION_TIME,
        OPERATION_PERSON_OID,
        WORK_HOUR_OID,
        OPERATION_PERSON_NAME
    </sql>

    <sql id="sql_table">OPERATION_RECORD</sql>
    <select id="findByProjectOid" resultMap="OperationRecordMap"  >
        select
        <include refid="sql_columns"/>
        from
        <include refid="sql_table"/>
        where OPERATION_TYPE=0
        and PROJECT_OID =#{projectOid}
        ORDER BY OPERATION_TIME DESC

    </select>


    <insert id="insert">
        insert INTO
        <include refid="sql_table"/> ( <include refid="sql_columns"/> )
        values
        (#{oid},
        #{operationType},
        #{operationContent},
        #{taskOid},
        #{projectOid},
        #{operationTime},
        #{operationPersonOid},
        #{workHourOid},
        #{operationPersonName}
        )
    </insert>
</mapper>

