<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com/pmcc/soft/week/SystemAttachmentFolderRelaMapper">

    <resultMap id="systemAttachmentFolderRelaMap" type="com.pmcc.soft.week.domain.SystemAttachmentFolderRela">
        <id property="id" column="ID"/>
        <result property="folderId" column="FOLDER_ID"/>
        <result property="folderName" column="FOLDER_NAME"/>
        <result property="attachmentId" column="ATTACHMENT_ID"/>
        <result property="fileName" column="FILE_NAME"/>
        <result property="fileType" column="FILE_TYPE"/>
        <result property="fileSize" column="FILE_SIZE"/>
        <result property="rptPerson" column="RPT_PERSON"/>
        <result property="rptPersonName" column="RPT_PERSON_NAME"/>
        <result property="rptDate" column="RPT_DATE"/>
        <result property="delFlag" column="DEL_FLAG"/>
    </resultMap>

    <sql id='sql_page_init'>
        <if test=" initPage == 0">
            ${topA} * FROM
            (
            SELECT ${topB} ROW_NUMBER() OVER (
            <include refid="sql_order"/>
            ) AS RowNum,

        </if>
    </sql>

    <sql id='sql_page_end'>
        <if test="initPage == 0">
            ) AS initPage
            WHERE RowNum BETWEEN (#{page}-1)*#{iDisplayLength}+1 AND #{page}*#{iDisplayLength}
            ORDER BY RowNum
        </if>
        <if test="initPage != 0">
            <include refid="sql_order"/>
        </if>
    </sql>

    <sql id="sql_order">ORDER BY  RPT_DATE desc </sql>
    <sql id="sql_table">SYSTEM_ATTACHMENT_FOLDER_RELA</sql>

    <sql id="sql_columns">
        ID,
        FOLDER_ID,
        FOLDER_NAME,
        ATTACHMENT_ID,
        FILE_NAME,
        FILE_TYPE,
        FILE_SIZE,
        RPT_PERSON,
        RPT_PERSON_NAME,
        RPT_DATE,
        DEL_FLAG
    </sql>

    <insert id="insert">
        insert INTO
        <include refid="sql_table"/>
        (<include refid="sql_columns"/>)
        values
        (#{id},
        #{folderId},
        #{folderName},
        #{attachmentId},
        #{fileName},
        #{fileType},
        #{fileSize},
        #{rptPerson},
        #{rptPersonName},
        #{rptDate},
        #{delFlag}
        )
    </insert>


    <!--查询-->
    <select id="query" resultMap="systemAttachmentFolderRelaMap">
        select
          <include refid="sql_columns"/>
        from
          <include refid="sql_table"/>
        where 1 = 1
            <if test="id != null and id != '' ">
                AND ID = #{id}
            </if>
            <if test="attachmentId != null and attachmentId != '' ">
                AND ATTACHMENT_ID = #{attachmentId}
            </if>
        <include refid="sql_order"/>
    </select>

    <!--更新文件名-->
    <update id="update">
        update
        <include refid="sql_table"/>
        <set>
            <if test="fileName != null"> FILE_NAME = #{fileName},</if>
            <if test="delFlag != null"> DEL_FLAG = #{delFlag}</if>
        </set>
        where ATTACHMENT_ID = #{attachmentId}
    </update>


</mapper>