<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com/pmcc/soft/week/taskExperienceMapper" >

    <resultMap id="TaskExperienceMap" type="com.pmcc.soft.week.domain.TaskExperience">
        <id property="oid" column="OID" />
        <result property="taskOid" column="TASK_OID"/>
        <result property="experienceContent" column="EXPERIENCE_CONTENT"/>
        <result property="startTime" column="START_TIME" />
        <result property="endTime" column="END_TIME" />
        <result property="fillInPerson" column="FILL_IN_PERSON" />
    </resultMap>

    <sql id="sql_columns">
        OID,
        TASK_OID,
        EXPERIENCE_CONTENT,
        START_TIME,
        END_TIME,
        FILL_IN_PERSON
    </sql>

    <sql id="sql_table">TASK_EXPERIENCE</sql>

    <insert id="insertExperience">
        insert INTO
        <include refid="sql_table"/> ( <include refid="sql_columns"/> )
        values
        (#{oid},
        #{taskOid},
        #{experienceContent},
        #{startTime},
        #{endTime},
        #{fillInPerson}
        )
    </insert>
    <delete id="deleteExperience">
        delete   from
        <include refid="sql_table"/>
        where oid = #{oid}
    </delete>

    <delete id="deleteExperienceByTaskOid">
        delete   from
        <include refid="sql_table"/>
        where TASK_OID = #{taskOid}
    </delete>

    <update id="updateExperience">
        update <include refid="sql_table"/>
        <set >
            TASK_OID = #{taskOid},
            EXPERIENCE_CONTENT = #{experienceContent},
            START_TIME = #{startTime},
            END_TIME = #{endTime},
            FILL_IN_PERSON = #{fillInPerson}
        </set>
        where OID = #{oid}
    </update>

    <select id="findExperienceByTaskOid" resultMap="TaskExperienceMap" >
        select
        <include refid="sql_columns"/>
        from
        <include refid="sql_table"/>
        where TASK_OID =#{taskOid}
    </select>
    <select id="findExperienceByOid" resultMap="TaskExperienceMap" >
        select
        <include refid="sql_columns"/>
        from
        <include refid="sql_table"/>
        where OID =#{oid}
    </select>


</mapper>

