@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(http://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
.pomegranate { /*toast信息样式*/
		    /* OVERWRITES */
		    background-color:      #E74C3C !important;
		    -webkit-border-radius: 2px !important;
		            border-radius: 2px !important;
		
		    /* CUSTOM */
		    box-shadow: 0 2px #C0392B;
		}
.pomegranate p {  /*toast信息样式*/
		    /* OVERWRITES */
		    /*max-width:  160px    !important;*/
		    /*margin:     0        !important;*/
		    /*padding:    6px 12px !important;*/
		    padding-left: 28px     !important;
		
		    /*font-size:  14px     !important;*/
		    /*color:      #FFFFFF  !important;*/
		    /*text-shadow:none     !important;*/
		
		    /*border:     none     !important;*/
		
		    /* CUSTOM */
		    background-image: url('heart.png');
		    background-repeat: no-repeat;
		    background-position: 6px 8px;
		    background-size: 16px;
		}
.ui-icon-redeye {background:url('images/eye-red.png') no-repeat 0 0;}